{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Team Match{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body>

    <nav class="navbar">
        <div class="nav-container">

            <a class="logo-link" href="#">
                Team Match
            </a>

            <div class="nav-links">
                <a href="#">Discover</a>
                <a href="#">My Teams</a>
                <a href="{% url 'profile' %}">Profile</a>
            </div>

        </div>
    </nav>

    <main class="page-container">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}

</body>

</html>